%ul.pages
  %li
    = link_to 'Home','javascript:void(0);',:class=>'header-menus',:url=>'/homes'
  %li
    = link_to 'About Us','javascript:void(0);',:class=>'header-menus',:url=>'/homes'
  %li
    = link_to 'Demo Page','javascript:void(0);',:class=>'header-menus',:url=>'/homes'
  %li
    = link_to 'Contact Page','javascript:void(0);',:class=>'header-menus',:url=>'/homes'
/ end pages
%form{action: "#"}
  %input#s{name: "s", type: "text", value: ""}/
  %button{type: "submit"} Search
.break
/ begin logo
.logo
  %h1
    %a{href: "#"} SimpleScheme Magazine
  %p Free CSS Template
/ end logo
/ begin sponsor
.sponsor
  %a{href: "#"}
    =image_tag"ad468x60.gif"
/ end sponsor
/ begin categories
%ul.categories
  %li
    =link_to 'All India Govt Jobs','javascript:void(0);',:class=>'header-menus',:url=>'/states'
  %li
    =link_to 'State Govt Jobs','javascript:void(0);',:class=>'header-menus',:url=>'/states',:class=>'header-menus'
  %li
    =link_to 'Bank Jobs', 'javascript:void(0);', :id=>'bank-job',:url=>'/banks',:class=>'header-menus'
  %li
    =link_to 'Teaching Jobs','javascript:void(0);',:url=>'/teachers',:class=>'header-menus'
  %li
    =link_to 'IT Jobs','javascript:void(0);',:url=>'/itjobs',:class=>'header-menus'
  %li
    =link_to 'Engineering Jobs','javascript:void(0);',:url=>'/engineerings',:class=>'header-menus'
  %li
    =link_to 'Railway Jobs','javascript:void(0);',:url=>'/railways',:class=>'header-menus'
  %li
    =link_to 'Videos','javascript:void(0);',:url=>'/videos',:class=>'header-menus'
/ end categories
/ END header
/ BEGIN content
