%ul.pages
  %li
    %a{href: "#"} Home
  %li
    %a{href: "about.html"} About Us
  %li
    %a{href: "page.html"} Demo Page
  %li
    %a{href: "contact.html"} Contact Page
/ end pages
%form{action: "#"}
  %input#s{name: "s", type: "text", value: ""}/
  %button{type: "submit"} Search
.break
/ begin logo
.logo
  %h1
    %a{href: "#"} SimpleScheme Magazine
  %p Free CSS Template
/ end logo
/ begin sponsor
.sponsor
  %a{href: "#"}
    =image_tag"ad468x60.gif"
/ end sponsor
/ begin categories
%ul.categories
  %li
    %a{href: "#"} All India Govt Jobs
  %li
    %a{href: "#"} State Govt Jobs
  %li
    %a{href: "#"} Railway Jobs
  %li
    %a{href: "#"} Teaching Jobs
  %li
    %a{href: "#"} IT Jobs
  %li
    %a{href: "#"} Engineering Jobs
  %li
    %a{href: "#"} Resources
  %li
    %a{href: "#"} Videos
/ end categories
/ END header
/ BEGIN content