.box
  %p.sponsors
    %a{href: "#"}
      =image_tag "ad125x125.jpg"
    %a{href: "#"}
      =image_tag "ad125x125.jpg"
  %ul.bookmarks
    %li.rss
      %a{href: "#"} Subscribe via RSS feed
    %li.twt
      %a{href: "#"} Follow me on Twitter
    %li.fcb
      %a{href: "#"} Connect with me on Facebook
    %li.ldi
      %a{href: "#"} Connect with me on LinkedIn
/ end sponsors
/ begin popular posts
.box
  %h2 Popular Posts
  %ul.popular
    %li
      %a{href: "#"} Top 10 Ways to Make Money Online
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..
    %li
      %a{href: "#"} Top 10 Ways to Make Money Online
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..
    %li
      %a{href: "#"} Top 10 Ways to Make Money Online
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse interdum..
/ end popular posts
/ begin flickr images
.box
  %h2 Flickr Images
  .flickr
    / %a{href: "#"}
    /   =image_tag"_flickr.jpg"
    / %a{href: "#"}
    /   =image_tag"_flickr.jpg"
    / %a{href: "#"}
    /   =image_tag"_flickr.jpg"
    / %a{href: "#"}
    /   =image_tag"_flickr.jpg"
    / %a{href: "#"}
    /   =image_tag"_flickr.jpg"
    / %a{href: "#"}
    /   =image_tag"_flickr.jpg"
/ end flickr images
/ begin featured video
.box
  %h2 Featured Video
  .video
    / =image_tag "_video.jpg"
/ end featured video
/ begin tag cloud
.box
  %h2 Tag Cloud
  .tags
    %a{href: "#"} Link
/ end tag cloud
/ BEGIN left
.l
  / begin categories
  .box
    %h2 Categories
    %ul
      %li
        %a{href: "#"} Advertising
      %li
        %a{href: "#"} Fashion
      %li
        %a{href: "#"} Gadgets
      %li
        %a{href: "#"} Lifestyle
      %li
        %a{href: "#"} Networking
      %li
        %a{href: "#"} News
      %li
        %a{href: "#"} Sports
  / end categories
  / begin meta
  .box
    %h2 Meta
    %ul
      %li
        %a{href: "#"} Log in
      %li
        %a{href: "#"} Valid XHTML
  / end meta
/ END left
/ BEGIN right
.r
  / begin archives
  .box
    %h2 Archives
    %ul
      %li
        %a{href: "#"} June 2009
      %li
        %a{href: "#"} May 2009
      %li
        %a{href: "#"} April 2009
      %li
        %a{href: "#"} March 2009
      %li
        %a{href: "#"} February 2009
  / end archives
  / begin blogroll
  .box
    %h2 Blogroll
    %ul
      %li
        %a{href: "#"} Documentation
      %li
        %a{href: "#"} Suggest Ideas
      %li
        %a{href: "#"} Support Forum
  / end archives
/ END right
/ END sidebar