%a{href: "#"}
	=image_tag "_thumb.jpg"
	%h2
		%a{href: "#"} Special Twitter Icons for Sale
	%p Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.
	%p.readmore
		[
		%a{href: "#"} read more
		]
	.break
/ end post
/ begin post
.e.post
	%a{href: "#"}
		=image_tag "_thumb.jpg"
	%h2
		%a{href: "#"} Special Twitter Icons for Sale
	%p Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.
	%p.readmore
		[
		%a{href: "#"} read more
		]
	.break
/ end post
/ begin post
.o.post
	%a{href: "#"}
		=image_tag "_thumb.jpg"
	%h2
		%a{href: "#"} Special Twitter Icons for Sale
	%p Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.
	%p.readmore
		[
		%a{href: "#"} read more
		]
	.break
/ end post
/ begin post
.e.post
	%a{href: "#"}
		=image_tag "_thumb.jpg"
	%h2
		%a{href: "#"} Special Twitter Icons for Sale
	%p Ut vel orci quis sem dapibus iaculis. Aliquam ut nunc quis nisi tincidunt tincidunt. Pellentesque enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque enim. Misl blandit feugiat. Ut vel orci quis sem dapibus iaculis.
	%p.readmore
		[
		%a{href: "#"} read more
		]
	.break