%head
  %title SimpleScheme Magazine
  %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
%body
  / BEGIN wrapper
  #wrapper
    / BEGIN header
    #header
      = render 'partials/header'
    #content
      / begin featured
      = render 'partials/main_contents' ,:jobs=>@jobs
    / END content
    #sidebar
      = render 'partials/right_side_bar'
  / END wrapper
  #footer
    = render 'partials/footer'