<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Interior Design | Articles</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Myriad_Pro_400.font.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="ie_style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .extra-bg, .box, .box1, .box2, .img-list img');</script>
<![endif]-->
</head>
<body id="page3">
<div id="main">
  <div class="extra-bg"></div>
  <!-- header -->
  <div id="header">
    <div class="row-1">
      <ul class="top-links">
        <li><a href="#"><img alt="" src="images/home-icon.gif" /></a></li>
        <li><a href="#"><img alt="" src="images/mail-icon.gif" /></a></li>
      </ul>
      <ul class="nav">
        <li class="first"><a href="index.html">Home</a></li>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="articles.html">Articles</a></li>
        <li><a href="contact_us.html">Contact Us</a></li>
        <li><a href="site_map.html">Site Map</a></li>
      </ul>
    </div>
    <div class="row-2">
      <h1><a href="#">Interior Design</a></h1>
    </div>
  </div>
  <!-- content -->
  <div id="content">
    <div class="wrapper">
      <div class="aside">
        <div class="inner_copy">More <a href="#">Website Templates</a> @ Templates.com!</div>
        <div class="section">
          <!-- box begin -->
          <div class="box">
            <div class="inner">
              <h4><span><span>Latest News:</span></span></h4>
              <div class="inner">
                <dl>
                  <dt>December 31, 2009</dt>
                  <dd>Satum quae sequi nesciueqpro doloremque laudantium.</dd>
                  <dt>December 22, 2009</dt>
                  <dd class="last">Totam rem aperiam, eaquepsquae ab explicabo.</dd>
                </dl>
              </div>
            </div>
          </div>
          <!-- box end -->
        </div>
        <!-- box1 begin -->
        <div class="box1">
          <div class="inner">
            <h4><span><span>Polls:</span></span></h4>
            <div class="inner">
              <form id="poll-form" action="#">
                <fieldset>
                  <h6>Satus error voluptatem accum satium quae sequi?</h6>
                  <label for="name1">
                    <input type="radio" name="name" class="radio" id="name1" checked="checked" />
                    Totam rem aperiam</label>
                  <label for="name2">
                    <input type="radio" name="name" class="radio" id="name2"/>
                    Eaque ipsquae sequi neseiunt</label>
                  <label for="name3">
                    <input type="radio" name="name" class="radio" id="name3"/>
                    Hque porro qusquam</label>
                  <label for="name4">
                    <input type="radio" name="name" class="radio" id="name4"/>
                    Gxplicabo atus error sit </label>
                  <div class="aligncenter">
                    <input type="submit" value="Vote" class="submit"/>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <!-- box1 end -->
      </div>
      <div class="mainContent">
        <h2>Articles</h2>
        <div class="indent">
          <ul class="list1">
            <li> <img alt="" src="images/img5.jpg" />
              <h5><a href="article.html">Article 1</a></h5>
              Description is to be here. Since we have no idea what your article is about we just put standart Lorem ipsum text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s... </li>
            <li> <img alt="" src="images/img6.jpg" />
              <h5><a href="#">Article 2</a></h5>
              Description is to be here. Since we have no idea what your article is about we just put standart Lorem ipsum text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s... </li>
            <li> <img alt="" src="images/img7.jpg" />
              <h5><a href="#">Article 3</a></h5>
              Description is to be here. Since we have no idea what your article is about we just put standart Lorem ipsum text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s... </li>
            <li> <img alt="" src="images/img8.jpg" />
              <h5><a href="#">Article 4</a></h5>
              Description is to be here. Since we have no idea what your article is about we just put standart Lorem ipsum text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s... </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <ul class="nav">
      <li><a href="#" class="first">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Site Map</a></li>
    </ul>
    <div class="wrapper aligncenter">Copyright - Type in your name here &nbsp; &nbsp; &nbsp; Designed by <a href="http://www.templates.com/"><img alt="" src="images/t-com_logo.gif" /></a> Your <a href="http://www.templates.com/product/3d-models/">3D Models</a> Marketplace</div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
